* {
  font-family: '游ゴシック Medium' /* win */, 'Yu Gothic Medium' /* win */,
    '游ゴシック体' /* mac */, 'YuGothic' /* mac */, 'メイリオ' /* win7 */,
    'sans-serif' /* default */;
}

h1 {
  font-size: 3rem;
}

h2,
h3 {
  font-size: 2rem;
}

.brand-logo {
  white-space: nowrap;
}

#background-filler {
  background: #fafafa;
  min-height: calc(100vh - 64px);
  position: absolute;
  width: 100%;
  z-index: -1;
}

#homepage.container {
  padding-top: 50px;
}

#homepage .profile {
  padding: 30px 10px;
  text-align: center;
}

#homepage img.portrait {
  height: 200px;
  margin: auto;
  width: 200px;
}

#homepage .profile .portrait-title .name {
  font-size: 1.75rem;
}

#homepage .profile .portrait-title .jobTitle {
  font-size: 1.13rem;
}

#homepage .profile .portrait-title .worksFor {
  font-size: 1.13rem;
}

#homepage .profile .social-icon {
  display: inline-flex;
}

#homepage .profile .social-icon li {
  margin-right: 1rem;
}

#homepage .profile .social-icon li:last-child {
  margin-right: 0;
}

#homepage .ul-interests li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 20px;
}

#homepage .ul-education p {
  margin: 0;
}

#homepage .ul-education li {
  margin-bottom: 0.5rem;
}

#homepage .ul-education .institution {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5rem;
}

footer .divider {
  max-width: 500px;
  margin: auto;
}

footer .footer-content {
  padding: 30px 30px;
}
