* {
  font-family: '游ゴシック Medium' /* win */, 'Yu Gothic Medium' /* win */,
    '游ゴシック体' /* mac */, 'YuGothic' /* mac */, 'メイリオ' /* win7 */,
    'sans-serif' /* default */;
}
h1 {
  font-size: 3rem;
}
h2,
h3 {
  font-size: 2rem;
}
.brand-logo {
  white-space: nowrap;
}
#homepage.container {
  padding-top: 50px;
  .profile {
    padding: 30px 10px;
    text-align: center;
    img.portrait {
      height: 200px;
      margin: auto;
      width: 200px;
    }
    .portrait-title {
      .name {
        font-size: 1.75rem;
      }
      .jobTitle {
        font-size: 1.13rem;
      }
      .worksFor {
        font-size: 1.13rem;
      }
    }
    .social-icon {
      display: inline-flex;
      li {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .ul-interests li {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 20px;
  }
  .ul-education {
    .institution {
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 0.5rem;
    }
    p {
      margin: 0;
    }
    li {
      margin-bottom: 0.5rem;
    }
  }
}
