{{ define "main" }}
<!-- layout for root(`/`) page -->
<div id="homepage" class="container">
  <div class="row">
    <div class="col s12 l4">
      <div class="profile">
        <img class="portrait circle responsive-img" src="/img/portrait.png">
        <div class="portrait-title">
          <h2 class="name">進藤 裕之</h2>
          <h3 class="jobTitle">助教</h3>
        </div>
        <ul class="social-icon">
          <li>
            <a href="mailto:jeremy@kinson.io" target="_blank">
              <i class="fas fa-envelope fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/haplotyper" target="_blank">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://scholar.google.co.jp/citations?user=UP_SPlwAAAAJ&hl=ja" target="_blank">
              <i class="fab fa-google-plus fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/hshindo" target="_blank">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col s12 l8">
      <p align="center"><img src="JukaiNLP.gif"></p>
      <p>人工知能，機械学習，自然言語処理を専門としています．特に日本語や英語など，人間が日常的に使っている言葉をコンピュータに理解させる技術分野
        （自然言語処理，計算言語学）の研究を行っています．<br/>
        近年は，大量の学術論文を解析して知識を自動獲得する研究を精力的に行っています．
        応用例として，マテリアルズインフォマティクス分野が挙げられます．
        これは，材料科学分野の論文から実験情報を自動収集し，効率的な材料開発を目指すものです．
      </p>
      <div class="row">
        <div class="col s12 m5">
          <h3>研究分野</h3>
          <ul class="ul-interests">
            <li>自然言語処理</li>
            <li>機械学習</li>
            <li>知識獲得</li>
            <li>マテリアルズインフォマティクス</li>
          </ul>
        </div>
        <div class="col s12 m7">
          <h3>経歴</h3>
          <ul class="ul-education fa-ul">
            <li>
              <i class="fa-li fa fa-university"></i>
              <div class="description">
                <p class="course">助教, 2014-</p>
                <p class="institution">奈良先端科学技術大学院大学</p>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-graduation-cap"></i>
              <div class="description">
                <p class="course">情報科学研究科 博士後期課程 修了, 2013</p>
                <p class="institution">奈良先端科学技術大学院大学</p>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-building"></i>
              <div class="description">
                <p class="course">研究員, 2009-2013</p>
                <p class="institution">NTTコミュニケーション科学基礎研究所</p>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-graduation-cap"></i>
              <div class="description">
                <p class="course">先進理工学研究科 博士前期課程 修了, 2009</p>
                <p class="institution">早稲田大学</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
