
{{ define "main" }}
  <!-- layout for `/publications/` -->

  <div id="contact" class="container">
    <div class="row">
      <div class="col s12 l8 offset-l2">
        <h1>{{ i18n "contact" }}</h1>
        <div class="card">
          <div class="card-content">

            <!-- name -->
            <div class="name">進藤 裕之 (Hiroyuki Shindo)</div>

            <!-- profile -->
            <div class="line-container">
              <div class="icon-column">
                <i class="far fa-id-card fa-lg"></i>
              </div>
              <div>
                <p>博士（工学）</p>
                <p>奈良先端科学技術大学院大学 情報科学研究科</p>
                <p>自然言語処理学研究室（松本裕治研究室） 助教</p>
              </div>
            </div>

            <!-- address -->
            <div class="line-container">
              <div class="icon-column">
                <i class="fas fa-map-marker-alt fa-lg"></i>
              </div>
              <div>
                <p>630-0101　奈良県生駒市高山町8916-5</p>
              </div>
            </div>

            <!-- mail -->
            <div class="line-container">
              <div class="icon-column">
                <i class="far fa-envelope fa-lg"></i>
              </div>
              <div>shindo –at– is.naist.jp</div>
            </div>

            <!-- phone -->
            <div class="line-container">
              <div class="icon-column">
                <i class="fas fa-phone fa-lg"></i>
              </div>
              <div>0743-72-5242</div>
            </div>

            <!-- fax -->
            <div class="line-container">
              <div class="icon-column">
                <i class="fas fa-fax fa-lg"></i>
              </div>
              <div>
                <p>0743-72-5249</p>
              </div>
            </div>

            <!-- github -->
            <div class="line-container">
              <div class="icon-column">
                <i class="fab fa-github fa-lg"></i>
              </div>
              <div>
                <p>hshindo</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}